{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout_style.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
      <div class="col"></div>
  </div>
</div>
    
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2 purchase">
  <div class="row">
      <div class="col">
          <h3 class="logo-font text-black text-center mt-3 product-introduction">Order Successful!</h3>
          <hr class="bg-black">
          </div>
          </div>
          </div>
<div class="card-success text-black">
  <div class="title-4 text-red">Thank you for you order!</div>
  <div class="info">
      <div class="row">
          <div class="col-7"><span id="heading">Date:</span><br> <span id="details">{{ order.date }}</span> </div>
          <div class="col-5 pull"><span id="heading">Order Number:</span> <br><span id="details">{{ order.order_number }}</span> </div>
      </div>
  </div>
  <div class="pricing">
      <div class="row">
        {% for item in order.lineitems.all %}
          <div class="col-9"> <span id="name"> {{ item.product.name }} </span> </div>
          
          <div class="col-3"> <span id="price">$ {{ item.product.price }}</span> </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-9"> <span id="name">Order Total:</span> </div>
        <div class="col-3"> <span id="price">$ {{ order.order_total }}</span> </div>
    </div>
  </div>
  <div class="total">
      <div class="row">
          <div class="col-9">Grand Total:</div>
          <div class="col-3 text-red"><b>$ {{ order.grand_total }}</b></div>
      </div>
  </div>
  <div class="tracking">
      <div class="title-4 mt-2">Tracking Order:</div>
  </div>
  <div class="progress-track">
      <ul id="progressbar">
          <li class="step0 active p-2" id="step1">Ordered</li>
          <li class="step0 active text-center p-2" id="step2">Shipped</li>
          <li class="step0 active text-right p-2" id="step3">On the way</li>
          <li class="step0 text-right p-2" id="step4">Delivered</li>
      </ul>
  </div>
  <div class="footer">
      <div class="row">
          <div class="col-10">Want any help? Please &nbsp;<a href=""> contact us!</a></div>
      </div>
  </div>
</div>
        

    {% block footer %}
    <footer>
    <div class="container">
        <div class="row">
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Products</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Suits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shoes</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Company</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About us</a>
              </li>
              <li class="nav-item">
              </li>
              <li class="nav-item">
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Contact & Support</span>
              </li>
              <li class="nav-item">
                <span class="nav-link"><i class="fas fa-phone"></i>+1 504-711-2934</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mailto:info@charityforgentlemen.com"><i class="fas fa-envelope"></i>Contact us</a>
              </li>
              <li class="nav-item">
              </li>
            </ul>
          </div>
        </div>
    
        <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>
        
        <div class="row text-center">
          <div class="col-md-4 box">
            <span class="copyright quick-links">Copyright &copy; Charity For Gentlemen <script>document.write(new Date().getFullYear())</script>
            </span>
          </div>
          <div class="col-md-4 box">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.twitter.com" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 box">
            <ul class="list-inline quick-links">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms & Condition</a>
              </li>
            </ul>
          </div>
        </div>
      </div>   
    </footer>
</script>
{% endblock %}
{% endblock %}


