html {
    height: 100%;
}

body {
	background: url('https://static.wixstatic.com/media/ddd18a_6ad2f800b9244d3e8a72503d7ca57a84~mv2.jpg/v1/fill/w_2500,h_1395,al_c/ddd18a_6ad2f800b9244d3e8a72503d7ca57a84~mv2.jpg') no-repeat center center;
	background-size: cover;
    height: calc(100vh - 164px);
    color: #fff;
    font-family: "Lato";
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-red {
background: rgb(211, 28, 28);
color: white;
}

.discover {
    padding-top: 100px;
    float: right;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.bg-grey {
  background:rgb(180, 180, 180);
}


.bg-red {
    background:rgb(211, 28, 28);
}

.text-red {
    color:rgb(211, 28, 28);
}

.bg-container {
  background-color: #F9FAFB; 
}

.navbar-toggler-icon {
  background: #fff;
}

/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}



/*------------------ navbar ends here ------------- */

/*------------------ headers begins here ------------- */

.header .letter {
	display: inline-block;
	line-height: 1em;
}

.titles {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-family: "Bigilla" !important;
	font-size: 100px;
	text-transform: uppercase;
	font-weight: bolder;
	width: 90%;
    color: rgb(211, 28, 28);
}

ul.titles {
	display: flex;
}

@media(max-width: 996px) {
	h1 {
        font-size: 35px;
    }
}

/*------------------ headers begins here ------------- */


/*------------------ product page ------------- */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #fff;
	z-index: -1;
}

@media(max-width: 992px){ 

.product-introduction h3 {
  padding-top: 150px;
}
}
/*------------------ product page ends ------------- */

/*------------------ about us page ------------- */

.btn a:hover {
  color: rgb(211, 28, 28);
}

/*------------------ about us page ends ------------- */

/*------------------ footer section begins here (Bootsrapcdn inspired)------------- */

  a {
    color: rgb(211, 28, 28);

  }
  a:hover {
    text-decoration: none;
    color: rgb(211, 28, 28);
  }
  
  ::selection {
    text-shadow: none;
    text-decoration: none;
  }
  
  footer {
    
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: #212529;
    margin-top: 300px;
  }

  @media(max-width: 768px){
    footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #212529;
    margin-top: 150px;
  }
  }
     
  
  .footer-column {
    text-align: center;
    }
      span.nav-link {
        color: grey;
      }
      span.footer-title {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
      }
      .fas {
        margin-right: 0.5rem;
      }

    ul {
      display: inline-block;
      
      
    }
  
  ul.social-buttons {
    margin-bottom: 0;
  }
  
  ul.social-buttons li a:active,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:hover {
    background-color: rgb(211, 28, 28);
  }
  
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
  }
  
  footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
  }
  
  .copyright {
    color: white;
  }
  
  .fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
  }  

/*------------------ footer section ends ------------- */

/*--------------- Google map JavaScript API begins here --------------- */


div#map {
  min-height: 360px;
}


/*--------------- Google map JavaScript API ends here --------------- */

/*--------------- Shopping cart --------------- */

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.shopping-message {
  padding-top: 150px;
}

@media(max-width: 992px) {
.cart {
  margin-top: 150px;
}
}

/*--------------- Shopping cart ends --------------- */

/*--------------- Product detail page begins --------------- */

@media(max-width: 400px) {
  .cart {
    margin-top: 150px;
  }
  }

/*--------------- Product detail page ends --------------- */

/*--------------- Messages CSS begins --------------- */
.message-container {
  position: fixed;
  top: 150px;
  right: 30px;
  z-index: 99999999999;
}
/*--------------- Messages CSS ends --------------- */

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem;
  color: #000;

}



/*--------------- Checkout page --------------- */

@media(max-width: 492px){
  .border-black {
    background: #fff;
  }
}

/*--------------- Login page --------------- */

.login-introduction h2 {
  padding-top: 50px;
}

.login form {
  text-align: center;
  width: 100px;

}

@media(max-width: 992px){
  td {
    width: 50%;
  }
}

/*--------------- Checkout success page --------------- */


.card-success {
  margin: auto;
    width: 38%;
    max-width: 600px;
    padding: 4vh 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 3px solid rgb(211, 28, 28);
    border-bottom: 3px solid rgb(211, 28, 28);
    border-left: none;
    border-right: none
}


@media(max-width:768px) {
  .card-success {
      width: 90%
  }
}

.title-4 {
  color: rgb(211, 28, 28);
  font-weight: 600;
  margin-bottom: 2vh;
  padding: 0 8%;
  font-size: initial;
  padding-left: 40px;
}

#details {
  font-weight: 400;
  font-size: 10px;
}

@media(max-width: 992px) {
  #details{
    font-weight: 250;
    font-size: 7px;
  }
}

.info {
  padding: 5% 8%;
}

.info .col-5 {
  padding: 0;
}

#heading {
  color: grey;
  line-height: 6vh;
}

.pricing {
  background-color: #ddd3;
  padding: 2vh 8%;
  font-weight: 400;
  line-height: 2.5
}

.pricing .col-3 {
  padding: 0
}

.total {
  padding: 2vh 8%;
  color: rgb(211, 28, 28);
  font-weight: bold
}

.total .col-3 {
  padding: 0
}

.footer {
  padding: 0 8%;
  font-size: x-small;
  color: black
}

.footer img {
  height: 5vh;
  opacity: 0.2
}

.footer a {
  color: rgb(211, 28, 28);
}

.footer .col-10,
.col-2 {
  display: flex;
  padding: 3vh 0 0;
  align-items: center
}

.footer .row {
  margin: 0
}

/*--------------- Checkout success progress bar --------------- */

#progressbar {
  margin-bottom: 3vh;
  overflow: hidden;
  padding-left: 0px;
  margin-top: 3vh
}

#progressbar li {
  list-style-type: none;
  font-size: x-small;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  color: rgb(160, 159, 159)
}

#progressbar #step1:before {
  content: "";
  background: rgb(211, 28, 28);
  height: 5px;
  width: 5px;
  margin-left: 0px;
}

#progressbar #step2:before {
  content: "";
  color: #fff;
  width: 5px;
  height: 5px;

}

#progressbar #step3:before {
  content: "";
  color: #fff;
  width: 5px;
  height: 5px;

}

#progressbar #step4:before {
  content: "";
  color: #fff;
  width: 5px;
  height: 5px;
  margin-right: 0px !important
}

#progressbar li:before {
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #ddd;
  border-radius: 50%;
  margin: auto;
  z-index: -1;
  margin-bottom: 1vh
}

#progressbar li:after {
  content: '';
  height: 2px;
  background: #ddd;
  position: absolute;
  left: 0%;
  right: 0%;
  margin-bottom: 2vh;
  top: 1px;
  z-index: 1
}

.progress-track {
  padding: 0 8%
}

#progressbar li:nth-child(1):after {
  margin: auto;
  background: rgb(211, 28, 28);
}

#progressbar li:nth-child(2):after {
  margin-right: auto
}

#progressbar li:nth-child(3):after {
  float: left;
  width: 68%
}

#progressbar li:nth-child(4):after {
  margin-left: auto;
  width: 132%;
}

#progressbar li.active {
  color: black
}



/*--------------- Checkout success progress bar ends --------------- */



@media(max-width: 992px) {
  .purchase {
    padding-top: 150px;
  }
}

/*--------------- Checkout success --------------- */


.contact-btn {
  text-decoration: none;
}
