{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5 login">
  <div class="row">
    <div class="col-12 text-center mt-5 login-introduction">
<hr class="mt-5">
<h2 class="logo-font mt-5 text-black text-center">{% trans "Sign In" %}</h2>
<hr class="mt-5">
<hr>
<h2 class="logo-font mb-4 text-black">{% trans "Sign Out" %}</h2>
<hr>
<p class="text-black">{% trans 'Are you sure you want to sign out?' %}</p>

<form class="text-center text-black" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a class="btn btn-red rounded-50" href="{% url 'home' %}">Cancel</a>
  <button class="primaryAction btn btn-red rounded-50" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>
</div>
</div>


{% endblock %}