{% extends "base.html" %}
{% load static %}

<!-- Bootstrap4 -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 text-center mt-3 product-introduction">
        <h2 class="logo-font text-black text-decoration product-introduction">About Us</h2>
        <p class="text-black">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas velit odio obcaecati corrupti quidem minus expedita ratione ipsa? Magnam vel qui amet deleniti ut repellat enim nemo soluta necessitatibus provident?</p>
        <hr class="w-50 h-10 mb-1">
        <img src="https://i.pinimg.com/originals/9c/cb/1c/9ccb1c20765a2a44947a637bae943f0d.jpg">
        <hr class="w-50 h-10 mb-1">
    </div>
    <div class="col-12 col-lg-4 text-center mt-3 product-introduction">
      <div id="map">

      </div>
    </div>
    </div>
    <div class="col text-center mt-3 product-introduction">
      <p class="text-black">If you want to know how to write an about me page for a website, a blog, or an e commerce site, keep tuned into this series on how to create an about me page. We’ve got 3 more videos coming in this series over on the YouTube channel, so be sure to favorite the playlist or just subscribe and “ring the bell.” If you’re interested in the free about me page template I alluded to in the video, please see below or click here.

        See the previous video in this 4 part series – About Us Text Examples.
        
        As always, plop any questions in the video’s comments over on YouTube! I’m very active on YouTube and will get back to questions quickly (and I can’t take comments on this blog (evil spam!!) so that really is the best way to reach me quickly!). And please help please the YouTube gods with a like and subscribe. It really does make a difference in the eyes of YouTube!
        
        And as always thank you so much and take care! Learning how to write the perfect about page using an about me page generator totally starts with knowing how to layout or design the right professional about page. Because at the end of the day in order to write your about page, generator used or not, you have to start with a strong foundation.

        In this video I talk about what the deal is with an about me page generator, and how they are very useful tools when used properly. From a professional website designer’s perspective, the About Me Page needs to be a guide for the user – a page that if they scan it quickly they can get a general quick summary about your company and then if they so choose, then they have clear options to dig deeper.

        <br>
        <br>
        <br>
        Learning how to write the perfect about page using an about me page generator totally starts with knowing how to layout or design the right professional about page. Because at the end of the day in order to write your about page, generator used or not, you have to start with a strong foundation.

In this video I talk about what the deal is with an about me page generator, and how they are very useful tools when used properly. From a professional website designer’s perspective, the About Me Page needs to be a guide for the user – a page that if they scan it quickly they can get a general quick summary about your company and then if they so choose, then they have clear options to dig deeper.
        </p>
    </div>
  
</div>
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                
                </div>
            </div>
            </div>
        </div>
    </div>
    {% block footer %}
    <footer>
    <div class="container">
        <div class="row">
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Products</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Suits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shoes</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Company</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Job postings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">News and articles</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Contact & Support</span>
              </li>
              <li class="nav-item">
                <span class="nav-link"><i class="fas fa-phone"></i>+1 504-711-2934</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-envelope"></i>Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-star"></i>Give feedback</a>
              </li>
            </ul>
          </div>
        </div>
    
        <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>
        
        <div class="row text-center">
          <div class="col-md-4 box">
            <span class="copyright quick-links">Copyright &copy; Your Website <script>document.write(new Date().getFullYear())</script>
            </span>
          </div>
          <div class="col-md-4 box">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.twitter.com" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 box">
            <ul class="list-inline quick-links">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms & Condition</a>
              </li>
            </ul>
          </div>
        </div>
      </div>   
    </footer>
    {% endblock %}          
    <script type="text/javascript">
      $('.carousel').carousel({
          interval: 1500
      })

  </script>
{% endblock %}