{% extends "base.html" %}
{% load static %}

<!-- Bootstrap4 -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



{% block content %}
<div class="overlay">
</div>
<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4 text-red">About Us</h1>
        <p class="lead text-muted mb-0">We dream about providing beatiful cultural clothing <br> 
          & at the same time help the ones in need every single day.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://www.linkpicture.com/q/logo_112.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="font-weight-light text-black">Charity</h2>
        <p class="font-italic text-muted mb-4">Charity For Gentlemen was established in 1982. In London, England. The first store opened, is the same store as the current store, located in London. 

          The goals have always been to serve people with beautiful clothing and at the same time help the once in need. It has never been about making a profit on the sales, but to donate the profits to the people who need it more than the owners of Charity For Gentlemen. 
          
          All of the profits are sent to the charity organisations on the last day of every month.
          .</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="http://bespoketailors.pk/assets/uploads/57a06-suit.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://images.pexels.com/photos/7265994/pexels-photo-7265994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6">
        <h2 class="font-weight-light text-black">Information</h2>
        <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light text-black">Our Stores</h2>
        <p class="font-italic text-muted text-black">Find our physical store locations below.</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Store locations -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://images.pexels.com/photos/460672/pexels-photo-460672.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" width="125" class="img-fluid rounded-circle mb-4 img-thumbnail shadow-sm">
          <h5 class="mb-2 text-black">London</h5><span class="small text-uppercase text-muted">Grosvenor Square</span>      
        </div>
      </div>

      <!-- Store locations -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://images.pexels.com/photos/2695680/pexels-photo-2695680.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" width="125" class="img-fluid rounded-circle mb-4 img-thumbnail shadow-sm">
          <h5 class="mb-2 text-black">Paris</h5><span class="small text-uppercase text-muted">Rue des Thermopyles</span>
        </div>
      </div>

      <!-- Store locations -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://images.pexels.com/photos/2190283/pexels-photo-2190283.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" width="125" class="img-fluid rounded-circle mb-4 img-thumbnail shadow-sm">
          <h5 class="mb-2 text-black">New York City</h5><span class="small text-uppercase text-muted">Minetta Street</span>
        </div>
      </div>

      <!-- Store locations -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://images.pexels.com/photos/1529040/pexels-photo-1529040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" width="125" class="img-fluid rounded-circle mb-4 img-thumbnail shadow-sm">
          <h5 class="mb-2 text-black">Stockholm</h5><span class="small text-uppercase text-muted">Gamla Stan</span>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Office location (Google Map API) -->
<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h2 class="display-4 font-weight-light text-black">Office Location</h2>
        <p class="font-italic text-muted text-black">Find our HeadQuarters from the map.</p>
      </div>
    </div>
    <div class="col-12">
      <div id="map"></div>
        <h5 class="mb-2 text-black">London</h5><span class="small text-uppercase text-muted">Gamla Stan</span>
      </div>
    </div>
    </div>
    </div>
    
    <!-- Footer -->
    {% block footer %}
    <footer>
    <div class="container">
        <div class="row">
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Products</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Suits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shoes</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Company</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Job postings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">News and articles</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Contact & Support</span>
              </li>
              <li class="nav-item">
                <span class="nav-link"><i class="fas fa-phone"></i>+1 504-711-2934</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-envelope"></i>Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-star"></i>Give feedback</a>
              </li>
            </ul>
          </div>
        </div>
    
        <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>
        
        <div class="row text-center">
          <div class="col-md-4 box">
            <span class="copyright quick-links">Copyright &copy; Your Website <script>document.write(new Date().getFullYear())</script>
            </span>
          </div>
          <div class="col-md-4 box">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.twitter.com" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 box">
            <ul class="list-inline quick-links">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms & Condition</a>
              </li>
            </ul>
          </div>
        </div>
      </div>   
    </footer>
    {% endblock %}          
    <script type="text/javascript">
      $('.carousel').carousel({
          interval: 1500
      })

  </script>
{% endblock %}