{% extends "base.html" %}
{% load static %}

<!-- Bootstrap4 -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



{% block content %}
<div class="container">
  <div class="row">
    <div class="col text-center mt-3 product-introduction">
        <h3 class="logo-font text-black text-decoration product-introduction">All Products</h3>
        <p class="text-black">Welcome to our product page. Check if there is something you or someone close to you would appreciate and support charity while getting some clothes!</p>
        <hr class="w-50 h-10 mb-1">
    </div>
    </div>
  
</div>
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row product">
                    {% for product in products %}
                        <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_description' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_description' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0 text-black bold">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-20 border-2 text-center">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left text-black">${{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
    {% block footer %}
    <footer>
    <div class="container">
        <div class="row">
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Products</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Suits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Ties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Shoes</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Company</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About us</a>
              </li>
              <li class="nav-item">
              </li>
              <li class="nav-item">
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="footer-title">Contact & Support</span>
              </li>
              <li class="nav-item">
                <span class="nav-link"><i class="fas fa-phone"></i>+1 504-711-2934</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mailto:info@charityforgentlemen.com"><i class="fas fa-envelope"></i>Contact us</a>
              </li>
              <li class="nav-item">
              </li>
            </ul>
          </div>
        </div>
    
        <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>
        
        <div class="row text-center">
          <div class="col-md-4 box">
            <span class="copyright quick-links">Copyright &copy; Charity For Gentlemen <script>document.write(new Date().getFullYear())</script>
            </span>
          </div>
          <div class="col-md-4 box">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.twitter.com" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 box">
            <ul class="list-inline quick-links">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms & Condition</a>
              </li>
            </ul>
          </div>
        </div>
      </div>   
    </footer>
    {% endblock %}          
    <script type="text/javascript">
      $('.carousel').carousel({
          interval: 1500
      })

  </script>
{% endblock %}